* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #555;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100vw;

}

.container {
  background-color: #bcbcbc;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 90%;
}

.container p {
  margin-bottom: 2rem;
}

.container h1 {
  color: #111;
  margin-bottom: 1.5rem;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.container form input {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #555;
  background-color: #bcbcbc;
}

.container form input[type="submit"] {
  background-color: green;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  letter-spacing: 1.5px;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: .5s;
  opacity: .8;
}

.container form input[type="submit"]:hover {
  opacity: 1;
}

#container-img {
  width: 100%;
  border: 1px solid #444;
  justify-content: center;
  padding: 1rem;
  border-radius: 5px;
  display: none;
}

img {
  width: 150px;
}
